:root {
  --ws-bright-blue: #3065fb;
  --ws-bright-blue-dark: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    #2650c7;
  --ws-dark-green: #18ab46;
  --ws-bright-green: #1fca51;
  --ws-ui-dark-grey: #1e222d;
  --ws-slate-grey: #2a3245;
  --ws-ui-mid-grey: #384257;
  --ws-grey: #52607b;
  --ws-ui-light-blue: #a0b6f6;
  --ws-ui-grey: #bac0cf;
  --ws-light-grey: #eff0f2;
  --ws-snow-grey: #f8faf9;
  --ws-white: #fff;
}
