/* All page sections use one of three top and bottom padding (sometimes a mix of two.) */

:root {
  --space-16: 1rem;
  --space-24: 1.5rem;
  --space-32: 2rem;
  --space-40: 2.5rem;
  --space-48: 3rem;
  --space-56: 3.5rem;
  --space-64: 4rem;
  --space-72: 4.5rem;
  --space-80: 5rem;
  --space-88: 5.5rem;
  --space-96: 6rem;
  --space-104: 6.5rem;

  --v-space-24: 1.5rem;
  --v-space-32: 2rem;
  --v-space-40: 2.5rem;
  --v-space-48: 3rem;
}

.v-space-24 {
  margin-block-end: var(--v-space-24);
}

.v-space-48 {
  margin-block-end: var(--v-space-48);
}

.v-gap-24 {
  display: flex;
  flex-direction: column;
  gap: var(--v-space-24);
}
