<a class="button {{ buttonType }}" href="{{ buttonLink }}">
    {{ buttonText }}
    {% if buttonIcon %}
        <span>
            {% include 'svg/arrow-right.svg' %}
        </span>
    {% endif %}
</a>