{% if ctaCols %}
    {% assign cols = ctaCols %}
{% else %}
    {% assign cols = 1 %}
{% endif %}

<section class="cta" data-cols="{{ cols }}">
    <div class="content">
        <p class="h1" {% if editable %} contenteditable="true" {% endif %}>See how AI can transform your business.</p>
        <p {% if editable %} contenteditable="true" {% endif %}>We are looking for beta partners to be some of the first to transform their farm or fleet through Windscope.</p>
        <div class="button-group">
            <a class="button primary" href="#" {% if editable %} contenteditable="true" {% endif %}>Book a demo</a>
            <a class="button secondary" href="#" {% if editable %} contenteditable="true" {% endif %}>Join the beta</a>
        </div>
    </div>
    {% if cols == 2 %}
        {% if ctaImage %}
        <img alt=" " src="/assets/img/demo_cta_image (1).png"/>
        {% elsif ctaVideo %}
            <!-- TODO: Placeholder for YT video link -->
        {% endif %}
    {% endif %}
</section>