<nav class="page">
    <div class="left">
      {% include 'svg/windscope_logo.svg' %}
      <a href="" class="text-link secondary">Product</a>
      <a href="" class="text-link secondary">Blog</a>
      <a href="" class="text-link secondary">About</a>
    </div>
    <div class="right">
      Right side
    </div>
  </nav>