<div class="flex-grid people-holder">
    {% for person in people %}{% capture imgUrl %}
    {% sanityImageUrl person.photo %}
    {% endcapture %}

        <div class="person">
            {% image imgUrl, '' %}
            <div class="details">
                <p class="text--medium strong">{{ person.name }}</p>
                <p class="text--regular">{{ person.position }}</p>
                <a href="{{ person.linkedInUrl }}">{% include 'svg/linkedin.svg' %}</a>
            </div>
        </div>
    {% endfor %}
</div>