{% capture imgUrl %}
    {% sanityImageUrl person.photo %}
    {% endcapture %}

        <li class="person">
            {% image imgUrl, '' %}
            <div class="details">
                <p class="text--medium strong">{{ person.name }}</p>
                <p class="text--regular">{{ person.position }}</p>
                {% if person.linkedIn %}
                    <a href="{{ person.linkedIn }}">{% include 'svg/linkedin.svg' %}</a>
                {% endif %}
            </div>
        </li>