<div class="product-feature" data-style="{{ featureStyle }}" data-image-placement="{{ featureImagePlacement }}">
    <img alt=" " src="/assets/img/demo_cta_image (1).png"/>
    <div class="content">
        <h3>Here is content</h3>
    </div>
</div>