<div class="flex-row logos">
                {% for logo in content.logos %}
                    {% capture imgUrl %}
                        {% sanityImageUrl logo %}
                    {% endcapture %}
                    {% image imgUrl, '' %}
                {% endfor %}
            </div>