<nav class="page" data-page-nav>
    <div class="left">
        {% include 'svg/windscope_logo.svg' %}
        <span data-desktop-links>
            <a class="text-link secondary" href="/design/">Index</a>
            <a class="text-link secondary" href="/design/typography/">Typography</a>
            <a class="text-link secondary" href="">About</a>
        </span>
    </div>
    <div class="right">
        <div data-menu-container>
            <button aria-haspopup="true" class="c-header__menu-btn" data-btn="menu" hidden="true">
                <!-- <span data-menu-button-text>Menu</span> -->
                <span class="c-header__menu-icon" data-menu-icon-open>
                    {% include 'svg/menu.svg' %}
                </span>
                <span class="c-header__menu-icon" data-menu-icon-close>
                    {% include 'svg/cross.svg' %}
                </span>
            </button>
            <div data-menu-wrapper="data-menu-wrapper">
                <nav class="c-header__nav">
                    <ul class="c-header__list">
                        <li class="c-header__item">
                            <a class="c-header__link text-link" data-home-link="data-home-link" hidden="true" href="/">Home</a>
                        </li>

                        <!-- {% for page in collections.page %} -->
                                                                                                                                                                                                                                                                            <!-- <li class="c-header__item">
                                <a class="c-header__link" href="{{ page.url }}">{{ page.data.pageTitle }}</a>
                            </li> -->
                                                                                                                                                                                                                                                                        <!-- {% endfor %} -->
                        <li>
                            <a class="text-link secondary" href="/design/">Index</a>
                        </li>
                        <li>
                            <a class="text-link secondary" href="/design/typography/">Typography</a>
                        </li>
                        <li>
                            <a class="text-link secondary" href="">About</a>
                        </li>

                        <li class="c-header__item">
                            <a class="c-header__link text-link" href="/rss.xml">RSS</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</nav>

<script src="/assets/js/index.js" type="module"></script>