section.homepage-hero {
  @mixin dark-bg;
  position: relative;
  overflow: hidden;

  & h1 {
    color: var(--ws-white);
  }
}

.homepage > section.homepage-hero {
  padding-block-end: var(--space-104);
}

.homepage-hero__wrapper {
  display: grid;
  gap: var(--space-40);
  padding: var(--space-40) var(--space-24) 0 var(--space-24);

  @media (min-width: 900px) {
    --col: calc((85rem - 3rem) / 2);
    padding: var(--space-40) 0 0 0;
    gap: var(--space-96) var(--space-40);
    grid-template-columns:
      1fr [wrapper-start] minmax(0, var(--col)) minmax(0, var(--col))
      [wrapper-end] 1fr;
  }
}

.homepage-hero__wrapper > picture {
  margin-right: -2rem;
  width: calc(100% + 2rem);
  justify-self: end;
  aspect-ratio: 1.08;
  object-fit: cover;
  object-position: 0 40%;

  @media (min-width: 900px) {
    margin-right: 0;
    width: 100%;
    max-width: 50rem;
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
  }

  & img {
    height: auto;
  }
}

.homepage-hero__main-content {
  @media (min-width: 900px) {
    grid-column: 2;
    grid-row: 1 / span 2;
    align-self: center;
  }

  > * + * {
    margin-block-start: var(--space-24);
  }

  @media (min-width: 1200px) {
    > * + * {
      margin-block-start: var(--space-40);
    }
  }
}

.homepage-hero__sm-text {
  font-size: var(--text-small);

  p {
    font-size: inherit;
  }

  @media (min-width: 900px) {
    grid-column: 2 / span 1;
    grid-row: 2;
  }
}

.homepage-hero__about-text {
  color: var(--ws-grey-4);

  @media (min-width: 900px) {
    margin-left: var(--space-24);
  }
}

.homepage-hero__ada-logo {
  filter: invert(1) brightness(100);
  flex: 0 0 10rem;
}

.homepage-hero__logo-text-group {
  @media (min-width: 900px) {
    display: flex;
  }
}
