.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;
  border-radius: 20px 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

@mixin button primary;

@mixin button secondary, transparent, var(--ws-bright-blue), transparent {
  border: 1px solid var(--ws-grey);
  &:hover,
  &:focus {
    border: 1px solid var(--ws-bright-blue);
    color: var(--ws-bright-blue);
  }
}

@mixin button tertiary, var(--ws-bright-blue), var(--ws-white),
  var(--ws-bright-blue-dark);
