.category-nav {
  font-weight: 600;
  font-variation-settings: "wght" 600;

  & .flex-row {
    --min: initial;
    flex-wrap: nowrap;
    width: 100%;
    overflow: auto;
    padding-inline-end: 1rem;

    & > * {
      flex: 1 0 auto;
    }
  }

  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  button {
    background: none;
    border: none;
    color: var(--ws-grey);
    width: auto;
    cursor: pointer;

    &[data-active] {
      color: var(--ws-bright-green);
    }
  }
}

.category-nav + section {
  margin-top: 0;
  padding-block-start: var(--space-64);
}
