.columns {
  display: grid;
  gap: var(--space-144);
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-template-rows: min-content;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    gap: var(--space-56);
  }

  & > [data-span="2"] {
    grid-column: span 2;
  }

  & > * {
    grid-row: auto;
  }

  & > img,
  & > picture > img {
    margin: auto;
    border-radius: var(--px-8);
    object-fit: cover;
  }
}
