label {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);

  & > input {
    background-color: var(--ws-light-grey);
    border-radius: var(--round-8);
    border: 1px solid transparent;
    padding: var(--space-16);
  }

  & > input:focus,
  & > input:focus-within,
  & > input:focus-visible {
    border: 1px solid var(--ws-dark-green);
    /* outline: var(--ws-bright-green) auto 1px; */
  }
}

/* Label but not for anything starting  with mce- */
.mc-field-group {
  margin-block: var(--space-24);
  & > label {
    display: block;
  }
}

input[type="submit"] {
  background-color: var(--ws-dark-green);
  color: var(--ws-white);
  border: none;
  margin-block: var(--space-24);
  &:hover {
    background-color: var(--ws-bright-green);
  }
}

.select {
  position: relative;
  display: inline-block;
}

.select select {
  outline: none;
  -webkit-appearance: none;
  display: block;
}

.select .arr {
  background-position: center;
  /* display: block; */
  height: 100%;
  pointer-events: none;
  position: absolute;
  right: 24px;
  top: 0;
  width: 32px;
  /* bottom: 0; */
  position: absolute;
  background: url('data:image/svg+xml;utf8,<svg width="32" height="32" viewBox="0 0 32 32" fill="2A3245" xmlns="http://www.w3.org/2000/svg"><path d="M16 20.5333L8 12.5333L9.43333 11.0999L16 17.6666L22.5667 11.0999L24 12.5333L16 20.5333Z" fill="2A3245"/></svg>')
    no-repeat;
  border: 0;
  background-size: 32px;
}

.select {
  & select:focus-within + .arr {
    transform: rotate(180deg);
  }
}
