.quote-holder > ul {
  @mixin flex-row var(--space-32), center, flex-start;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  @mixin container-padding;

  @media (max-width: 768px) {
    padding: 0 inherit;  
  }
}

.quote {
  background: var(--ws-white);
  padding: var(--space-88) var(--space-72);
  display: grid;
  grid-template-areas:
    "partner text"
    "partner details";
  column-gap: var(--space-56);
  row-gap: var(--space-24);
  align-items: center;
  grid-template-columns: auto 1fr;
  color: var(--ws-grey);
  min-width: 100%;
  width: 100%;
  scroll-snap-align: center;

  & > picture, img {
    grid-area: partner;
    width: 100%;
    max-width: 200px;
    height: auto;
    object-fit: contain;
  }

  & > p {
    grid-area: text;
    font-size: var(--h4);
    font-weight: 500;
    font-variations-settings: "wght" 500;
  }

  & > small {
    grid-area: details;
  }

  @media (max-width: 768px) {
    grid-template-areas:
    "partner"
      "text"
      "details";
    gap: var(--space-48);
    grid-template-columns: 1fr;
    max-width: calc(100vw - var(--space-72));

    & > img {
      justify-self: center;
      margin-bottom: var(--space-24);
    }
  }
}

.quote-nav {
  @mixin flex-row var(--space-32), center, center;
  margin-top: var(--space-48);

  button {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background: var(--ws-light-grey);
    border: none;
    cursor: pointer;

    &[data-active] {
      background: var(--ws-bright-blue);
    }
  }
}