.stacked-tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: var(--space-16);

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--space-16);

    a.section-link {
      padding-inline-start: var(--space-24);
      font-size: var(--text-medium);
    }

    & li {
      grid-column: 1/2;
      padding: var(--space-32) var(--space-24);
      background-color: var(--ws-snow-grey);
      border-radius: var(--space-16);
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      position: relative;
      overflow: hidden;
    }

    & li:not([role]) {
      padding: 0;
    }
  }

  & .text {
    display: flex;
    flex-direction: column;
    gap: var(--space-24);
  }

  & .image {
    grid-column: 2/3;
    grid-row: -1/1;
    display: none;

    & picture,
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  & .image--mobile {
    display: none;
  }

  & li[data-active],
  & li[role]:hover {
    background-color: var(--ws-white);
    box-shadow: var(--shadow-light);
  }

  & .image[data-active] {
    display: block;
  }

  & li[data-active][data-loop]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 0%;
    background-color: var(--ws-bright-blue);
    z-index: 99;
    animation: active 5s linear 1 forwards;
  }
}

.stacked-tabs--mobile {
  grid-template-columns: 1fr;

  ul {
    display: flex;
    flex-direction: column;

    & li {
      display: flex;
      flex-direction: column-reverse;
      gap: var(--space-56);
      cursor: default;
      pointer-events: none;
    }
  }

  & li[data-active][data-loop]::before {
    display: none;
  }

  & .image,
  .image[data-active] {
    display: none;
  }

  & .image--mobile {
    display: block;

    & picture,
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}

.no-js {
  .stacked-tabs {
    & li[role]:hover {
      background-color: var(--ws-snow-grey);
      box-shadow: none;
      cursor: default;
    }
  }

  @media (max-width: 1024px) {
    .stacked-tabs {
      grid-template-columns: 1fr;

      ul {
        display: flex;
        flex-direction: column;

        & li {
          display: flex;
          flex-direction: column-reverse;
          gap: var(--space-56);
          cursor: default;
          pointer-events: none;
        }
      }

      & li[data-active][data-loop]::before {
        display: none;
      }

      & .image,
      .image[data-active] {
        display: none;
      }

      & .image--mobile {
        display: block;

        & picture,
        img {
          width: 100%;
          height: auto;
          object-fit: contain;
        }
      }
    }
  }
}

@keyframes active {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
