<!doctype html>
<html lang="en">

<head>
  {% include 'partials/metadata.liquid' %}
  <link rel="stylesheet" href="/assets/css/index.css">
<!-- TODO: Remove before production -->
  <script>
  window.markerConfig = {
    destination: '633ffed73e459a9c6e2ae660', 
    source: 'snippet'
  };
</script>

<script>
!function(e,r,a){if(!e.__Marker){e.__Marker={};var t=[],n={__cs:t};["show","hide","isVisible","capture","cancelCapture","unload","reload","isExtensionInstalled","setReporter","setCustomData","on","off"].forEach(function(e){n[e]=function(){var r=Array.prototype.slice.call(arguments);r.unshift(e),t.push(r)}}),e.Marker=n;var s=r.createElement("script");s.async=1,s.src="https://edge.marker.io/latest/shim.js";var i=r.getElementsByTagName("script")[0];i.parentNode.insertBefore(s,i)}}(window,document);
</script>
</head>

<body class="no-js">
  <header {% if header == 'dark' %} data-dark {% endif %} >
    <div class="wrapper">{% include 'partials/nav.liquid' %}</div>
  </header>
  {{ content }}
  {% include 'partials/footer.liquid' %}

  <div class="cead" role="region" aria-label="Cookie consent">
      <p class="text--regular">This website stores data such as cookies to enable essential site functionality, as well as marketing, personalization, and analytics. By remaining on this website you indicate your consent.</p>
      <div class="cead__btns">
        <a class="text-link secondary" href="/privacy-policy/">Privacy policy</a>
        <button class="cead__btn button tertiary cead__btn--accept">Okay</button>
      </div>
    </div>
<!-- set your options as an object on window.cead before loading cead -->
    <script>
      window.cead = {
        cookie: 'consent'
      }
    </script>
    <!-- include the browser.js file before the closing </body> -->
    <script src="/assets/js/cead-browser.js"></script>
</body>

</html>