---
layout: base
pageTitle: Windscope Design System - {{ title }}
navComponent: design/pageNav.liquid
---

    <main class="flow">
      <h1 class="v-space-24">Section: {{ title }}</h1>
      {{ content }}
    </main>