.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: var(--space-72);

  @media (max-width: 1024px) {
    text-align: center;
    gap: var(--space-48);
  }
}
