footer {
  --wrapper-width: 90rem;
  background: var(--ws-snow-grey);
  min-height: 5vh;
  width: 100vw;
  color: var(--ws-grey);
  font-size: var(--text-regular);

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-32);

    & > .left,
    & > .right {
      @mixin flex-row;
    }

    &.left {
      justify-content: flex-start;
    }

    &.right {
      justify-content: flex-end;
    }
  }

  & > div:not(:first-child) {
    border-top: 1px solid var(--ws-light-grey);
  }

  & ul {
    @mixin flex-row;
  }

  & li {
    list-style: none;
  }

  & a[class] {
    text-decoration: none;
  }
}
