footer.wrapper {
  --wrapper-width: 90rem;
  background: var(--ws-snow-grey);
  min-height: 5vh;
  color: var(--ws-grey);
  padding: var(--space-32);

  * {
    font-size: var(--text-regular);
  }

  & > div {
    @mixin flex-row var(--space-16), center, space-between;
    flex-wrap: wrap;

    & > .left {
      @mixin flex-row var(--space-32), center, flex-start;
    }

    & > .right {
      @mixin flex-row var(--space-32), center, flex-end;
    }

    & > .right[data-stick-right] {
      margin-left: auto;
    }
  }

  & > hr {
    /* border-top: 1px solid var(--ws-light-grey); */
    margin-block: var(--space-32);
  }

  & ul {
    @mixin flex-row;
    padding: 0;
  }

  & li {
    list-style: none;
  }

  & a[class] {
    text-decoration: none;
  }
}
