section.homepage-hero {
  @mixin dark-bg;
  padding-block-end: var(--space-104);
  position: relative;
  overflow: hidden;

  & h1 {
    color: var(--ws-white);
  }
}

.homepage-hero__wrapper {
  padding: var(--space-40) var(--space-24) 0 var(--space-24);

  @media (min-width: 900px) {
    --col: calc((80rem - 3rem) / 2);
    padding: var(--space-40) 0 0 0;
    display: grid;
    gap: var(--space-96) var(--space-40);
    grid-template-columns:
      1fr [wrapper-start] minmax(0, var(--col)) minmax(0, var(--col))
      [wrapper-end] 1fr;
  }
}

.homepage-hero__wrapper > img {
  width: 100%;
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
  margin-right: -2rem;
  max-width: none;
  width: calc(100% + 2rem);

  @media (min-width: 900px) {
    margin-right: 0;
    width: 100%;
  }
}

.homepage-hero__main-content {
  grid-column: 2;
  grid-row: 1;

  > * + * {
    margin-block-start: var(--space-24);
  }

  @media (min-width: 1200px) {
    align-self: end;

    > * + * {
      margin-block-start: var(--space-40);
    }
  }
}

.homepage-hero__sm-text {
  font-size: var(--text-small);
  grid-column: 2;
  grid-row: 2;
  margin-top: var(--space-40);

  p {
    font-size: inherit;
  }
}

.homepage-hero__about-text {
  color: var(--ws-grey-4);

  @media (min-width: 900px) {
    margin-left: var(--space-24);
  }
}

.homepage-hero__ada-logo {
  filter: invert(1) brightness(100);
  flex: 0 0 10rem;
}

.homepage-hero__logo-text-group {
  @media (min-width: 900px) {
    display: flex;
  }
}
