section.homepage-hero {
  @mixin dark-bg;
  padding-block-end: var(--space-104);
  position: relative;

  > .wrapper {
    align-items: center;
    display: grid;
    gap: var(--space-96);
    grid-template-areas:
      "text"
      "text";
    grid-template-rows: 1fr auto;
    max-height: min-content;
    min-height: 60vh;
    position: relative;
    grid-template-columns: 1fr;
    padding: 0;

    @media (max-width: 1480px) {
      gap: var(--space-80);
      grid-template-columns: 1fr;
      grid-template-areas:
        "text"
        "image"
        "small";
      padding-top: calc(var(--header-height, 7.125rem) + 4rem);
      height: 100%;
      max-height: min-content;
    }

    > img {
      grid-area: image;
      height: 100%;
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
      object-position: center;
      width: 100%;

      @media (min-width: 1480px) {
        display: none;
      }
    }
  }

  & .wrapper > .text {
    display: flex;
    grid-area: text;
    flex-direction: column;
    gap: var(--space-24);
    /* justify-self: flex-end; */

    * {
      color: var(--text-color-light) !important;
    }
  }

  & .small {
    grid-row: 2/3;
    grid-area: text;
    font-size: var(--text-small);

    @media (max-width: 1480px) {
      grid-area: small;
    }

    & p {
      font-size: var(--text-small);
    }

    & .flex {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: var(--space-24);
      font-size: var(--text-small);
      align-items: center;
      color: var(--ws-grey-4);

      @media (max-width: 1024px) {
        grid-template-columns: 1fr;
        gap: var(--space-16);
      }

      & > .logo > img,
      svg {
        filter: invert(1) brightness(100);
        width: 100%;

        @media (max-width: 1480px) {
          width: 70%;
        }
      }
    }
  }

  & .small.wrapper {
    padding: 0;
    margin: 0;
    max-width: 60%;

    @media (max-width: 1480px) {
      padding: 0 var(--space-32);
    }
  }

  & .text.wrapper {
    padding: 0;
    margin: 0;
    max-width: 60%;

    @media (max-width: 1480px) {
      padding: 0 var(--space-32);
    }
  }

  & > img,
  svg {
    position: absolute;
    right: 0;
    top: calc(50% - var(--space-104));
    transform: translateY(calc(-50% + var(--space-104) + 7.125rem));
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: right;
    max-height: 80%;

    @media (max-width: 1480px) {
      display: none;
    }
  }
}
