.text-page-header {
  padding-block-start: var(--space-104);
  padding-block-end: var(--space-56);
  --flow-space: var(--space-24);

  & .timestamp {
    color: var(--ws-grey);
  }

  & .key-visual {
    margin-top: var(--space-48);
  }

  & .key-visual img {
    margin-inline: auto;
    aspect-ratio: 90/59;
    height: auto;
  }
}
