---
permalink:
  preview: /preview/:type/:id
---

<section style="height: 100vh; width: 100vw; display: grid; place-content: center;">
    {% assign id = eleventy.serverless.path.id %}
    {% assign type = eleventy.serverless.path.type %}
  
  {% if type == 'person' %}
    {% for person in preview.person %}
      {% if person._id == id %}
      {% capture imgUrl %}
        {% sanityImageUrl person.photo %}
      {% endcapture %}
      {% include 'components/person.liquid' %}
      {% endif %}
    {% endfor %}
  {% else %}
    <p>Nothing to preview.</p>
  {% endif %}
</section>

<style>
  {% postcss %}
    {% include 'assets/css/index.css' %}
  {% endpostcss %}
</style>