---
layout: design.liquid
title: Typography
---

<div class="v-gap-24">
    <p>This page has details of the different typography found throughout the Windscope site.</p>

    <!-- Form with text box -->
    <div class="columns">
        <div class="flow">
            <h2>General</h2>
            <p>This section contains general text sizes and weights. Use the text input below to see how different strings of text will at different sizes.</p>
            <label for="text">
                Edit text:
                <input name="text-generic" placeholder="Type some text here" type="text">
            </label>
        </div>
        <div class="flow">
            <h1 data-dynamic-generic data-initial="Heading 1"></h1>
            <h2 data-dynamic-generic data-initial="Heading 2"></h2>
            <h3 data-dynamic-generic data-initial="Heading 3"></h3>
            <h4 data-dynamic-generic data-initial="Heading 4"></h4>
            <h5 data-dynamic-generic data-initial="Heading 5"></h5>
            <p class="text--medium" data-dynamic-generic data-initial="Medium sized paragraph text."></p>
            <p data-dynamic-generic data-initial="Regular paragraph text."></p>
            <p class="text--small" data-dynamic-generic data-initial="Small paragraph text."></p>
        </div>
    </div>
    <hr>
    <div class="columns">
        <div class="flow">
            <h2>Links</h2>
            <p>This section shows the different textual link styles on the website. Use the text input below to see how different strings of text will at different sizes.</p>
            <label for="text">
                Edit text:
                <input name="text-links" placeholder="Type some text here" type="text">
            </label>
        </div>
        <div class="flow">
            <h3 data-span="2">Text links</h3>
            <div class="">
                <p><a data-dynamic-link data-initial="Primary link" class="text-link primary"></a></p>
                <p><a data-dynamic-link data-initial="Hover: Primary link" class="text-link primary:hover"></a></p>
            </div>
            <div class="">
                <p><a data-dynamic-link data-initial="Secondary link" class="text-link secondary"></a></p>
                <p><a data-dynamic-link data-initial="Hover: Secondary link" class="text-link secondary:hover"></a></p>
            </div>
            <div>
                <h3>Navigation links</h3>
                <nav class="page">
                    <div class="left">
                        <a href="" class="text-link secondary">Index</a>
                        <a href="" class="text-link secondary">Typography</a>
                        <a href="" class="text-link secondary">About</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<script>
    // Select all elements with data-dynamic
    var genericElements = document.querySelectorAll("[data-dynamic-generic]");
    var linkElements = document.querySelectorAll("[data-dynamic-link]");
    let generic = document.getElementsByName("text-generic")[0];
    let links = document.getElementsByName("text-links")[0];
    content = "";

    generic.addEventListener("keyup", function (event) {
        content = generic.value;
        updateElements(genericElements);
    });

    links.addEventListener("keyup", function (event) {
        content = links.value;
        updateElements(linkElements);
    });

    function updateElements(elements) {
        for (let i = 0; i < elements.length; i++) {
            if (content.length > 0) {
                elements[i].innerHTML = content;
            } else {
                elements[i].innerHTML = elements[i].getAttribute("data-initial");
            }
        }
    }

    updateElements(genericElements);
    updateElements(linkElements);
</script>