---
layout: site
permalink: /404.html
pageTitle: Page Not Found
eleventyExcludeFromCollections: true
---

<section class="homepage-hero" id="hero">
    <div class="homepage-hero__wrapper">
        <div class="homepage-hero__main-content">
            <h1>Page not found</h1>
            <p>The page you've requested could not be found.</p>
        </div>
        <div class="homepage-hero__sm-text">
           
        </div>
       {% image './public/assets/img/Homepage-hero-image@2x.png', '', 'eager' %}
    </div>
</section>