---
layout: cta
pagination:
    data: ctaPages
    alias: ctaPage
    size: 1
permalink: 
    build: /{{ ctaPage.slug.current | slug }}/index.html
    preview: /cta/preview/:id
eleventyComputed:
    pageTitle: '{{ ctaPage.title }}'
    pageDescription: '{{ ctaPage.description }}'
---
{% assign id = eleventy.serverless.path.id %}

{% if eleventy.serverless.path %}
{% for page in preview.cta %}
    {% if page._id == id %}
        {% assign ctaPage = page %}
        {% break %}
    {% endif %}
{% endfor %}
{% endif %}

<section id="cta-page">    
    <div class="wrapper columns">
        <div class="text-content flow">
                {% portableText ctaPage.body %}
        </div>
        {{ ctaPage.mailchimpForm }}
    </div>
</section>

{% if eleventy.serverless.path %}
    <style>
    {% postcss %}
        {% include 'assets/css/index.css' %}
    {% endpostcss %}
    </style>
{% endif %}