---
layout: site
ctaLink:
    text: "Book a demo"
    url: "#"
ctaLinkSecondary:
    text: "Join the beta"
    url: "#"
---
<section class="homepage-hero" id="hero">
    <div class="text wrapper">
        <h1>Advanced wind turbine health monitoring</h1>
        <p>Conduct maintenance at the right time to maximise turbine availability, minimise cost and increase
            workforce
            safety.</p>
        {% assign buttonType = 'primary' %}
        {% assign buttonLink = '#' %}
        {% assign buttonText = 'Book a demo' %}
        {% include 'components/button.liquid' %}
    </div>
    <div class="small wrapper">
        <p>Built by</p>
        <div class="flex">
            <div class="logo">
                <img src="/assets/img/ada_mode_logo.svg" class="logo" data-light alt="">
            </div>
            <p>Backed by our experience in developing cutting-edge AI for power and utility operators.</p>
        </div>
    </div>
    <img src="/assets/img/Homepage-hero-image.svg" alt="">
</section>
<section>
    <div class="wrapper flow">
        {% assign tabs = homepage.tabs.tabs %}
        {% assign sectionTitle = homepage.tabs.title %}
        {% assign sectionLink = homepage.tabs.sectionLink %}
        {% include 'components/stackedTabs.liquid' %}
    </div>
</section>

<section>
    <div class="wrapper">
        {% assign feature = homepage.feature %}
        {% assign featureStyle = feature.featureType %}

        {% if featureStyle == "large" %}
        {% assign featureImage = feature.largeImage %}
        {% assign featureTitle = feature.longTitle %}
        {% assign featureText = feature.largeText %}
        {% assign secondaryTitle = feature.secondaryTitle %}
        {% elsif featureStyle == "medium" %}
        {% assign featureImage = feature.mediumImage %}
        {% assign featureTitle = feature.mediumTitle %}
        {% assign featureText = feature.mediumText %}
        {% assign secondaryTitle = null %}
        {% else %}
        {% assign featureImage = feature.smallImage %}
        {% assign featureTitle = feature.smallTitle %}
        {% assign featureText = feature.smallText %}
        {% assign secondaryTitle = null %}
        {% endif %}

        {% assign featureImagePlacement = "left" %}
        {% assign floatImage = false %}

        {% include 'components/prod-feature.liquid' %}
    </div>
</section>

<section>
    <div class="wrapper">
        {% assign quotes = homepage.quotes %}
        {% include 'components/quotes.liquid' %}
    </div>
</section>

{% assign ctaTitle = "See how AI can transform your business." %}
{% assign ctaText = "We are looking for beta partners to be some of the first to transform their farm or fleet through Windscope." %}

{% include 'components/cta-section.liquid' %}