---
layout: homepage
header: dark
permalink:
    build: /index.html
    preview: /homepage/preview/:id
ctaLink:
    text: "Book a demo"
    url: "/book-a-demo/"
ctaLinkSecondary:
    text: "Join the beta"
    url: "/book-a-demo/"
---
{% assign id = eleventy.serverless.path.id %}

{% if eleventy.serverless.path %}
{% for hp in preview.homepage %}
    {% if hp._id == id %}
        {% assign homeContent = hp %}
        {% break %}
    {% endif %}
{% endfor %}
{% else %}
    {% assign homeContent = homepage %}
{% endif %}

<section class="homepage-hero" id="hero">
    <div class="homepage-hero__wrapper">
        <div class="homepage-hero__main-content">
            <h1>Advanced wind turbine health monitoring</h1>
            <p>Conduct maintenance at the right time to maximise turbine availability, minimise cost and increase
                workforce
                safety.</p>
            {% assign buttonType = 'primary' %}
            {% assign buttonLink = '/book-a-demo/' %}
            {% assign buttonText = 'Book a demo' %}
            {% include 'components/button.liquid' %}
        </div>
        <div class="homepage-hero__sm-text">
            <p>Built by</p>
            <div class="homepage-hero__logo-text-group">
                <div class="homepage-hero__ada-logo">
                    <img src="/assets/img/ada_mode_logo.svg" class="logo" data-light alt="Ada Mode">
                </div>
                <p class="homepage-hero__about-text">Backed by our experience in developing cutting-edge AI for power and utility operators.</p>
            </div>
        </div>
        {% image './public/assets/img/Homepage-hero-image@2x.png', '', 'eager' %}
    </div>
</section>

<!-- Start of dynamic section -->
<section>
    <div class="wrapper flow">
        {% assign tabs = homeContent.tabs.tabs %}
        {% assign sectionTitle = homeContent.tabs.title %}
        {% assign sectionLink = homeContent.tabs.sectionLink %}
        {% include 'components/stackedTabs.liquid' %}
    </div>
</section>

<section data-bg-white>
    <div class="wrapper">
        {% assign feature = homeContent.feature %}
        {% assign featureStyle = homeContent.featureType %}

        {% if featureStyle == "large" %}
        {% assign featureImage = feature.largeImage %}
        {% assign featureTitle = feature.longTitle %}
        {% assign featureText = feature.largeText %}
        {% assign secondaryTitle = feature.secondaryTitle %}
        {% elsif featureStyle == "medium" %}
        {% assign featureImage = feature.mediumImage %}
        {% assign featureTitle = feature.mediumTitle %}
        {% assign featureText = feature.mediumText %}
        {% assign secondaryTitle = null %}
        {% else %}
        {% assign featureImage = feature.smallImage %}
        {% assign featureTitle = feature.smallTitle %}
        {% assign featureText = feature.smallText %}
        {% assign secondaryTitle = null %}
        {% endif %}

        {% assign featureImagePlacement = "left" %}
        {% assign floatImage = false %}

        {% include 'components/prod-feature.liquid' %}
    </div>
</section>

<section>
    <div class="wrapper">
        {% assign quotes = homeContent.quotes %}
        {% include 'components/quotes.liquid' %}
    </div>
</section>
<!-- End of dynamic section -->

<section>
    <div class="wrapper columns" data-colums="2">
        <div class="flow">
            <p class="h5 color-primary">
                Why choose windscope?
            </p>
            <h2 class="h3">Know what to
                maintain, why
                and when</h2>
            <p>
                Windscope monitors the health of the turbine at system level - providing greater forewarning of system
                degradation and component failure.
            </p>
        </div>
        <div class="flow">
            <ol class="flow styled">
                <li>Individual system health alerts</li>
                <li>Automatic fault diagnosis and maintenance recommendations</li>
                <li>Seamless integration with CMMS to help prioritise maintenance schedules</li>
            </ol>
            <p><a class="text-link secondary" href="/product/">Learn more about the product →</a></p>
        </div>
    </div>
</section>

<section>
    <div class="wrapper columns comparison" style="--comparison-rows: 3;">
        <div>
            <p class="column-title color-secondary">The old way</p>
            <ul data-marker="cross">
                <li>Expensive and high risk routine maintenance schedules</li>
                <li>Unknown asset condition driving conservatism and increased operational cost</li>
                <li>Costly reactive maintenance driven by sudden faults</li>
                <li>General performance monitoring</li>
            </ul>
        </div>
        <div>
            <p class="column-title color-accent">The new way</p>
            <ul data-marker="check">
                <li>Maintain the turbine at the right time, with the right people in the right conditions </li>
                <li>Continuous monitoring of system health and turbine performance driving best practice O&M</li>
                <li>Proactive intervention before system failure</li>
                <li>Specific system health monitoring</li>
            </ul>
        </div>
    </div>
</section>

{% assign ctaTitle = "See how AI can transform your business." %}
{% assign ctaText = "We are looking for beta partners to be some of the first to transform their farm or fleet through Windscope." %}

{% include 'components/cta-section.liquid' %}
