---
layout: site
pagination:
    data: pages
    alias: thisPage
    size: 1
permalink: /{{ thisPage.slug.current | slug }}/index.html
---


{% for content in thisPage.body %}
    {% if content._type == 'pageHeading' %}
        {% include "components/pageHeading.liquid" %}     
    {% endif %}

    {% if content._type == 'blockContent' %}
    <div class="wrapper">
        <article class="text-page flow">
            {% portableText content.content %}
        </article>
    </div>
    {% endif %}

    {% if content._type == 'blockLayout' %}
        <section>
            <div class="wrapper columns">
                {% assign textPlacement = content.layout %}
                    {% capture imgUrl %}
                        {% sanityImageUrl content.image %}
                    {% endcapture %}
                {% if textPlacement == 'left' %}
                    <div class="flow">{% portableText content.text.content %}</div>
                    {% image imgUrl, content.image.altText %}
                {% else %}
                    {% image imgUrl, content.image.altText %}
                    <div class="flow">{% portableText content.text.content %}</div>
                {% endif %}
            </div>
        </section>
    {% endif %}

    {% if content._type == 'quote' %}
        <section>
            <div class="wrapper">
                {% assign quotes = content | makeArray %}
                {% include 'components/quotes.liquid' %}
            </div>
        </section>
    {% endif %}

    {% if content._type == 'quoteCarousel' and content.allQuotes %}
        <section>
            <div class="wrapper">
                {% assign quotes = allQuotes %}
                {% include 'components/quotes.liquid' %}
            </div>
        </section>
    {% elsif content._type == 'quoteCarousel' and content.allQuotes != true %}
        <section>
            <div class="wrapper">
                {% assign quotes = content.quotes %}
                {% include 'components/quotes.liquid' %}
            </div>
        </section>
    {% endif %}

    {% if content._type == 'people' %}
        {% if content.allPeople %}
            {% assign people = allPeople %}
        {% else %}
            {% assign people = content.people %}
        {% endif %}
        <section><div class="wrapper flow">
            {% if content.sectionTitle %}
            {% include 'components/sectionHeading.liquid' %}
            {% endif %}
            {% include 'components/people.liquid' %}
        </div></section>
        
    {% endif %}

    {% if content._type == 'rowOfLogos' %}
        <section>
            <div class="wrapper flow">
            {% if content.sectionTitle %}
            {% include 'components/sectionHeading.liquid' %}
            {% endif %}
            {% include 'components/rowOfLogos.liquid' %}
        </div>
        </section>
        
    {% endif %}

    {% if content._type == 'careers' %}
    {% if content.allJobs %}
            {% assign jobs = allJobs %}
        {% else %}
            {% assign jobs = content.jobs %}
        {% endif %}
        <section>
            <div class="wrapper">
            <div class="flex-row content-col">
                <div class="content flow">
                    <p class="secondary-title">Careers</p>
                    <h2>Join our team</h2>
                    <p>Join us as we continue to drive down the cost of clean energy with AI applications.</p>
                </div>
                <div class="flex-col flow">
                    {% if jobs.size > 0 %}
                    {% for job in jobs %}
                        <div class="border-box__light" data-button>
                            <div class="flow">
                                <p class="strong text--secondary">{{ job.title }}</p>
                            </div>
                            <div>
                                {% assign buttonIcon = true %}
                                {% assign buttonType = "tertiary" %}
                                {% assign buttonText = "Learn more" %}
                                {% capture buttonLink %}
                                https://ada-mode.com/careers/{{ job.slug.current }}
                                {% endcapture %}
                                {% include 'components/button.liquid' %}
                            </div>
                        </div>
                    {% endfor %}
                    {% else %}
                        <div class="border-box__light" data-button>
                            <div class="flow">
                                <p class="strong text--secondary">No open positions.</p>
                                <p>You can still send us your CV to keep on file.</p>
                            </div>
                            <div>
                                {% assign buttonIcon = true %}
                                {% assign buttonType = "tertiary" %}
                                {% assign buttonText = "Email us" %}
                                {% assign buttonLink = "mailto:careers@ada-mode.com" %}
                                {% include 'components/button.liquid' %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        </section>
        
    {% endif %}

    {% if content._type == 'ctaSection' %}
        {% include 'components/cta-section.liquid' %}
    {% endif %}

{% endfor %}