---
layout: site
pagination:
    data: pages
    alias: thisPage
    size: 1
permalink: "{{ thisPage.slug.current }}/index.html"
---

{% console thisPage %}

{% for content in thisPage.body %}
    {% if content._type == 'pageHeading' %}
        {% include "components/pageHeading.liquid" %}     
    {% endif %}

    {% if content._type == 'blockContent' %}
    <div class="wrapper">
        <article class="text-page flow">
            {% portableText content.content %}
        </article>
    </div>
    {% endif %}

    {% if content._type == 'blockLayout' %}
        <section>
            <div class="wrapper columns">
                {% assign textPlacement = content.layout %}
                    {% capture imgUrl %}
                        {% sanityImageUrl content.image %}
                    {% endcapture %}
                {% if textPlacement == 'left' %}
                    <div class="flow">{% portableText content.text.content %}</div>
                    {% image imgUrl, content.image.altText %}
                {% else %}
                    {% image imgUrl, content.image.altText %}
                    <div class="flow">{% portableText content.text.content %}</div>
                {% endif %}
            </div>
        </section>
    {% endif %}

    {% if content._type == 'quote' %}
        <section>
            <div class="wrapper">
                {% assign quotes = content | makeArray %}
                {% include 'components/quotes.liquid' %}
            </div>
        </section>
    {% endif %}

    {% if content._type == 'quoteCarousel' and content.allQuotes %}
        <section>
            <div class="wrapper">
                {% assign quotes = allQuotes %}
                {% include 'components/quotes.liquid' %}
            </div>
        </section>
    {% elsif content._type == 'quoteCarousel' and content.allQuotes != true %}
        <section>
            <div class="wrapper">
                {% assign quotes = content.quotes %}
                {% include 'components/quotes.liquid' %}
            </div>
        </section>
    {% endif %}

    {% if content._type == 'people' %}
        {% if content.allPeople %}
            {% assign people = allPeople %}
        {% else %}
            {% assign people = content.people %}
        {% endif %}
        <section><div class="wrapper flow">
            {% if content.sectionTitle %}
            {% include 'components/sectionHeading.liquid' %}
            {% endif %}
            {% include 'components/people.liquid' %}
            {{ content | json }}
        </div></section>
        
    {% endif %}

    {% if content._type == 'ctaSection' %}
        {% include 'components/cta-section.liquid' %} 
    {% endif %}

{% endfor %}