---
layout: site
pagination:
    data: allPosts.combined
    alias: post
    size: 1
permalink: /blog/{{ post.slug.current | slug }}/index.html
---
{%- comment -%} TODO: Fallback image if none is set. {%- endcomment -%}
<section id="post-header">    
    <div class="wrapper flow">
        <div class="main-image">
            {% if post.mainImage.asset %}
                {% capture imgUrl %}
                    {% sanityImageUrl post.mainImage %}
                {% endcapture %}
                {% image imgUrl, post.mainImage.altText %}
                {% else %}
            <img src="/assets/img/og-image.svg" alt="">
            {% endif %}
        </div>
          <div class="flex-row" data-justify="start"  style="--min: initial;">
                        <p class="text--small color-accent semi-bold">{{ post.categories[0].title }}</p>
                        <p class="text--small">{{ post.publishedAt | date: "%B %d, %Y" }}</p>
                    </div>
        <h1>{{ post.title }}</h1>
    </div>
</section>
<article class="post-content">
    <div class="wrapper flow">
            {% portableText post.body.content %}
    </div>
</article>

<script src="/assets/js/lite-vimeo.js" type="module"></script>
<script src="/assets/js/lite-youtube.js" type="module"></script>