@font-face {
  font-family: "Work Sans";
  src: url("/assets/fonts/WorkSans-VariableFont_wght.woff2")
    format("woff2-variations");
  font-weight: 100 900;
  font-display: swap;
}

html {
  font-family: "Work Sans", sans-serif;
  font-variation-settings: "wght" 400;
}

.h1,
h1 {
  font-size: var(--h1);
  font-weight: 700;
  font-variation-settings: "wght" 700;
  line-height: 1.14;
  color: var(--ws-slate-grey);
  /* margin-bottom: 0.5rem; */
}

.h2,
h2 {
  font-size: var(--h2);
  font-weight: 600;
  font-variation-settings: "wght" 600;
  line-height: 1.32;
  color: var(--ws-slate-grey);
}

.h3,
h3 {
  font-size: var(--h3);
  font-weight: 600;
  font-variation-settings: "wght" 600;
  line-height: 1.17;
  letter-spacing: -0.5px;
  color: var(--ws-slate-grey);
}

.h4,
h4 {
  font-size: var(--h4);
  font-weight: 500;
  font-variation-settings: "wght" 500;
  line-height: 1.19;
  letter-spacing: -0.5px;
  color: var(--ws-slate-grey);
}

.h5,
h5 {
  font-size: var(--h5);
  font-weight: 500;
  font-variation-settings: "wght" 500;
  line-height: 1.4;
  letter-spacing: -0.5px;
  color: var(--ws-slate-grey);
}

.text--regular {
  font-size: var(--text-regular);
  font-weight: 400;
  font-variation-settings: "wght" 400;
  line-height: 1.75;
  letter-spacing: -0.1px;
}

p {
  max-width: 60rem;
  /* width: 100%; */
}

p,
.text--medium {
  font-size: var(--text-medium);
  font-weight: 400;
  font-variation-settings: "wght" 400;
  line-height: 1.56;
  letter-spacing: -0.1px;
}

.text--small {
  font-size: var(--text-small);
  font-weight: 400;
  font-variation-settings: "wght" 400;
  line-height: 1.57;
  letter-spacing: -0.1px;
}

/* Links */
.text-link {
  font-weight: 500;
  font-variation-settings: "wght" 500;
  text-decoration: underline;
  cursor: pointer;

  &:visited {
    color: inherit;
  }
}

.strong,
strong {
  font-weight: 700;
  font-variation-settings: "wght" 700;
}

.semi-bold {
  font-weight: 500;
  font-variation-settings: "wght" 500;
}

.text-center {
  text-align: center;
  margin-inline: auto;
}

.color-primary {
  color: var(--ws-bright-blue);
}

.color-accent {
  color: var(--ws-bright-green);
}

.color-secondary {
  color: var(--ws-grey);
}

.text--slate {
  color: var(--ws-slate-grey);
}

ul,
ol {
  font-size: var(--text-medium);
}

@mixin text-link primary, var(--ws-bright-blue), var(--ws-bright-blue-dark);
@mixin text-link secondary, var(--ws-grey), var(--ws-bright-blue);
