.cead {
  --cead-bg: var(--ws-white);
  --cead-text: var(--ws-grey);
  --cead-btn: var(--ws-bright-blue);
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 1rem 1rem max(0.5rem, env(safe-area-inset-bottom, 0));
  background: var(--cead-bg, #2f1121);
  color: var(--cead-text, #fff);
  font-size: 0.75rem;
  border: 1px solid var(--ws-light-grey);
  border-radius: var(--space-16);
  box-shadow: var(--shadow-dark);
  overflow: hidden;
  padding: var(--space-16) var(--space-24);
}

@media screen and (min-width: 38rem) {
  .cead {
    bottom: 1rem;
    left: 1rem;
    border-radius: 0.25rem;
    width: 32rem;
    max-width: calc(100vh - 2rem);
    padding: 1rem;
  }
}
.cead[data-show="true"] {
  display: block;
}
.cead__btns {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  align-items: center;
  margin-top: 0.5rem;
}
@media screen and (min-width: 38rem) {
  .cead__btns {
    margin-top: 1rem;
  }
}
.cead__btns > * {
  margin-left: 0.5rem;
}
.cead__btn {
  border: 0;
  cursor: pointer;
}
.cead__btn--decline {
  text-decoration: underline;
}
