section.cta {
  background: var(--ws-snow-grey);
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  padding: var(--space-104) var(--space-144);

  @media (max-width: 1024px) {
    padding: 0;
  }

  & .content {
    text-align: center;
    padding-block-end: var(--space-104);

    & > .h1 {
      margin-bottom: 1.5rem;
    }

    & > p,
    & > .h1 {
      margin-inline: auto;
    }

    & > .button-group {
      display: flex;
      width: 100%;
      gap: 1.5rem;
      justify-content: center;
      align-items: center;
      padding: 0;
      flex-wrap: wrap;
      margin-top: var(--space-32);
    }
  }

  & [data-cols="2"] {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding-block-end: var(--space-104);

    & > .content {
      text-align: left;
      padding-block-end: 0;

      & > .button-group {
        display: flex;
        gap: 1.5rem;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0;
        flex-wrap: wrap;
      }
    }

    & img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
