.product-feature {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  overflow: visible;

  .secondary-title {
    display: none;
  }

  .secondary-title + h2,
  .secondary-title + h3 {
    margin-top: var(--space-16);
  }

  &[data-style="large"] {
    grid-template-columns: 1fr 1fr;
    gap: var(--space-104);
    position: relative;
    z-index: 0;
    @mixin mobile-large-feature;

    &[data-image-placement="left"] {
      grid-template-areas: "image content";
      @mixin mobile-large-feature;
    }

    &[data-image-placement="right"] {
      grid-template-areas: "content image";
      @mixin mobile-large-feature;
    }

    &:not([data-image-placement="left"]):not([data-image-placement="right"]) {
      grid-template-areas: "image content";
      @mixin mobile-large-feature;
    }

    & > .content {
      color: var(--ws-grey);

      @media (max-width: 1024px) {
        padding-block-end: var(--space-56);
      }

      & h3 {
        font-size: var(--h3);
        font-weight: 600;
        font-variation-settings: "wght" 600;
        line-height: 1.17;
        letter-spacing: -0.5px;
        color: var(--ws-slate-grey);
        margin-top: 0.25rem;

        @media (max-width: 1024px) {
          font-size: 1.5rem;
          line-height: 1.4;
        }
      }
    }

    & > .image-holder {
      display: block;
      position: relative;
      overflow: visible;

      & img {
        grid-area: image;
        border-radius: 16px;
        margin: auto;
        height: min-content;
      }

      &[data-float-image]::after {
        content: "";
        position: absolute;
        display: block;
        width: 90%;
        height: 100%;
        background: var(--ws-ui-dark-grey);
        z-index: -1;
        overflow: visible;
      }

      &[data-float-image="left"]::after {
        right: calc(var(--space-32) * -1);
        top: calc(var(--space-24) * -1);
        height: calc(100% + var(--space-48));
      }

      &[data-float-image="down"]::after {
        bottom: calc(var(--space-40));
        left: calc(-1 * var(--space-32));
        width: 110%;
        @media (max-width: 1024px) {
          width: calc(100vw - 7vw);
        }
      }

      &[data-float-image="right"]::after {
        top: calc(var(--space-24) * -1);
        height: calc(100% + var(--space-48));
        left: calc(-1 * var(--space-32));
      }

      &[data-float-image="up"]::after {
        top: calc(var(--space-40));
        left: calc(var(--space-32) * -1);
        width: 110%;
        @media (max-width: 1024px) {
          width: calc(100vw - 7vw);
        }
      }
    }
  }

  &[data-style="small"] {
    gap: var(--space-24);
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    align-items: center;
    text-align: center;
    flex: 1 1;
    max-width: 22rem;
    padding: 32px 24px;
    grid-template-areas:
      "image"
      "content";

    & h3 {
      font-size: var(--h5);
      font-weight: 500;
      font-variation-settings: "wght" 500;
      line-height: 1.4;
      letter-spacing: -0.5px;
      color: var(--ws-slate-grey);
      margin-top: 0.25rem;
    }

    & > * {
      grid-column: 1;
      color: var(--ws-grey);
    }
  }

  &[data-style="medium"] {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "image"
      "content";
    max-width: 28rem;

    & > .content {
      color: var(--ws-grey);
      background: var(--ws-white);
      border-radius: 0 0 8px 8px;
      border-width: 1px 2px 2px 2px;
      border-style: solid;
      border-color: var(--ws-light-grey);
      padding: 32px 24px;

      & h3 {
        font-size: var(--h5);
        font-weight: 500;
        font-variation-settings: "wght" 500;
        line-height: 1.4;
        letter-spacing: -0.5px;
        color: var(--ws-slate-grey);
        margin-top: 0.25rem;
      }
    }

    & > .image-holder {
      display: block;
      position: relative;
      overflow: visible;

      & img {
        grid-area: image;
        border-radius: 8px 8px 0 0;
        margin: auto;
        height: min-content;
      }
    }
  }
}

.product-feature-holder[data-style="large"] {
  & article {
    padding-block: var(--space-104);

    @media (max-width: 1024px) {
      padding-block: var(--space-64);
    }
  }

  > article:nth-child(odd) > .product-feature {
    &[data-style="large"] {
      grid-template-areas: "content image";
      @mixin mobile-large-feature;
    }
  }
}

.product-feature-holder[data-style="small"] {
  padding-block-end: var(--space-104);
  @media (max-width: 1024px) {
    padding-block: 0;
  }
  & article {
    padding-block: 0;
  }

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  & > article {
    display: inline-block;
  }
}

.product-feature-holder[data-style="medium"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2rem;
  padding-block-end: var(--space-104);

  & > article {
    padding: 0;
  }

  & > article:nth-child(even) {
    margin-block-start: 2rem;
  }

  @media (max-width: 1024px) {
    justify-items: center;
    gap: 2rem;

    & > article:nth-child(even) {
      margin-block-start: initial;
    }
  }
}

@define-mixin mobile-large-feature {
  justify-content: center;
  align-items: center;
  gap: var(--space-136);
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    gap: var(--space-16);
    grid-template-areas:
      "content"
      "image";
  }
}

.large-stat {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;

  & > span {
    font-size: 3.5rem;
  }
}
