<footer class="wrapper">
    <div>
        <div class="left">
            <a href="https://windscope.io" title="Windscope website">
                <img alt="Windscope brand logo" height="59" src="/assets/img/windscope_logo.svg" width="196"/>
            </a>
            <a href="https://www.ada-mode.com/" title="Ada Mode website">
                <img alt="Ada Mode company logo" height="61" src="/assets/img/ada_mode_logo.svg" width="174"/>
            </a>
        </div>
        <div class="right" data-stick-right>
            <a class="social-logo" href="https://twitter.com/adamodeAI">
                {% include 'svg/twitter.svg' %}
            </a>
            <a class="social-logo" href="https://www.linkedin.com/company/ada-mode/">
                {% include 'svg/linkedin.svg' %}
            </a>
        </div>
    </div>
    <hr>
    <div>
        <div class="left">
            <p>
                © Ada Mode
                {% currentYear %}, All Rights Reserved.
            </p>
        </div>
        <div class="right">
            <ul>
                {% for link in site.footerLinks %}
                    <li>
                        <a class="text-link secondary" href="{{ link.slug }}" title="{{ link.title }}">
                            {{ link.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</footer>