<footer class="wrapper">
    <div>
        <div class="left">
            <a href="https://windscope.io" title="Windscope website">
                <img alt="Windscope brand logo" height="59" src="/assets/img/windscope_logo.svg" width="196"/>
            </a>
            <a href="https://www.ada-mode.com/" title="Ada Mode website">
                <img alt="Ada Mode company logo" height="61" src="/assets/img/ada_mode_logo.svg" width="174"/>
            </a>
        </div>
        <div class="right" data-stick-right>
            <a href="">
                <img alt="Twitter logo" height="19" src="/assets/img/twitter.svg" width="24"/>
            </a>
            <a href="">
                <img alt="LinkedIn log" height="24" src="/assets/img/linkedin.svg" width="24"/>
            </a>
        </div>
    </div>
    <hr>
    <div>
        <div class="left">
            <p>
                © Ada Mode
                {% currentYear %}, All Rights Reserved.
            </p>
        </div>
        <div class="right">
            <ul>
                <li><a class="text-link secondary" href="#">Privacy Policy</a></li>
                <li><a class="text-link secondary" href="#">Cookie policy</a></li>
            </ul>
        </div>
    </div>
</footer>