{% assign links = site.topMenu %}

<nav class="page" data-page-nav>
    <div class="left">
        <a href="/" >{% include 'svg/windscope_logo.svg' %}</a>
        {% unless hideNav %}
        <span data-desktop-links>
            {% for link in links %}
            <li>
                <a class="text-link secondary" href="/{{ link.slug }}">{{ link.title }}</a>
            </li>
            {% endfor %}
            <!-- <li>
                <a class="text-link secondary" href="/blog/">Blog</a>
            </li> -->
        </span>
        {% endunless %}
    </div>
    {% unless hideNav %}
    <div class="right">
        {% assign buttonType = 'primary' %}
        {% assign buttonLink = '/book-a-demo/' %}
        {% assign buttonIcon = false %}
        <a href="/book-a-demo/" class="text-link secondary" data-desktop-links>Contact sales</a>
        <span data-desktop-links>{% include 'components/button.liquid' %}</span>
        <div data-menu-container>
            <button aria-haspopup="true" class="c-header__menu-btn" data-btn="menu" hidden="true">
                <span class="c-header__menu-icon" data-menu-icon-open>
                    {% include 'svg/menu.svg' %}
                </span>
                <span class="c-header__menu-icon" data-menu-icon-close>
                    {% include 'svg/cross.svg' %}
                </span>
            </button>
            <div data-menu-wrapper="data-menu-wrapper">
                <nav class="c-header__nav flow">
                    <ul class="c-header__list">
                        {% for link in links %}
                        <li>
                            <a class="text-link secondary" href="/{{ link.slug }}">{{ link.title }}</a>
                        </li>
                        {% endfor %}
                        <li>
                            <a class="text-link secondary" href="/blog/">Blog</a>
                        </li>
                    <li>
                        <a href="/book-a-demo/" class="text-link secondary">Contact sales</a>
                    </li>
                    </ul>
                        <div>{% include 'components/button.liquid' %}</div>
                </nav>
            </div>
        </div>
    </div>
    {% endunless %}
</nav>

<script src="/_includes/assets/js/index.js" type="module"></script>